link(rel="import", href="../../vendor/polymer/polymer.html")
link(rel="import", href="../../vendor/core-ajax/core-ajax.html")
link(rel="import", href="../buttons/tab.html")

polymer-element(name="mg-header-bar" unresolved)
    template
        core-ajax(auto, url="https://api.themoviedb.org/3/genre/movie/list", handleAs="json", params='{"api_key":"247e0e9d8f8cadd19b1cc9b925a68270", "language": "es"}', on-core-response="{{genresList}}")
        link(rel="stylesheet" href="../../styles/layout/header-bar.css")
        template(repeat="{{genre in genres}}")
            mg-tab(flex, genreId="{{genre.id}}" genreName="{{genre.name}}" on-click="{{genreSelect}}")

    script.
        Polymer({
            genresList: function(event, response) {
                this.genres = response.response.genres;
            },
            genreSelect: function(event) {
                target = event.currentTarget;
                var genreIdSelected = target.genreId;
                this.fire('genreSelected', {name: "genre", data: genreIdSelected});
            }
        });
