link(rel="import", href="../../vendor/polymer/polymer.html")

polymer-element(name="header-bar", noscript)
    template
        link(rel="stylesheet" href="../../styles/layout/header-bar.css")
        div#header-bar
            div This is a <b>Header bar</b>
