link(rel="import", href="../../vendor/polymer/polymer.html")
link(rel="import", href="../modules/single-movie.html")
link(rel="import", href="../modules/movie-lightbox.html")
link(rel="import", href="../../vendor/core-ajax/core-ajax.html")
link(href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah', rel='stylesheet', type='text/css')

polymer-element(name="mg-main" attributes="movies genreId")
    template
        core-ajax#genres-all(url="https://api.themoviedb.org/3/discover/movie", handleAs="json", params='{"api_key":"247e0e9d8f8cadd19b1cc9b925a68270", "vote_average.gte": "8", "vote_count.gte": 50, "sort_by": "popularity.desc", "language": "en"}', on-core-response="{{discover}}")
        core-ajax#genres-ajax(url="https://api.themoviedb.org/3/discover/movie", handleAs="json", params='{"api_key":"247e0e9d8f8cadd19b1cc9b925a68270", "with_genres": "{{genreId}}", "vote_average.gte": "8", "vote_count.gte": 50, "sort_by": "popularity.desc", "language": "en"}', on-core-response="{{discover}}")
        core-ajax(auto, url="https://api.themoviedb.org/3/movie/{{movieId}}", handleAs="json", params='{"api_key":"247e0e9d8f8cadd19b1cc9b925a68270"}', on-core-response="{{showMovie}}")
        link(rel="stylesheet" href="../../styles/layout/main.css")
        h1 Mangosta Movie Finder
        div(horizontal layout)
            div.movie-container(horizontal layout wrap style="width: 100%")
                template(repeat="{{movie in movies}}")
                    mg-single-movie(id="{{movie.id}}" on-click="{{movieData}}")
                        figure
                            img(src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}", alt="{{movie.title}}")
                        div.single-movie-container()
                            h1 {{movie.title}}
                            h2 {{movie.original_title}}
                        div.vote-avg {{movie.vote_average}}
        mg-movie-lb#lightbox.closed(movieDeep="{{singleMovieData}}")

    script.
        Polymer({
            ready: function() {
                var ajax = this.shadowRoot.getElementById('genres-all');
                ajax.go();
            },
            discover: function(event, response) {
                if(response.response.results.length > 0){
                    this.movies = response.response.results;
                }else{
                    alert('No hay películas con este filtrado');
                }
            },
            movieData: function(event) {
                this.movieId = event.currentTarget.id;
                this.shadowRoot.querySelector('#lightbox').classList.toggle('closed');
                this.shadowRoot.querySelector('#lightbox').classList.toggle('open');
            },
            showMovie: function(event, response) {
                this.singleMovieData = response.response;
            },
            genreSignal: function() {
                var ajax = this.shadowRoot.getElementById('genres-ajax');
                ajax.go();
            }
        });
