link(rel="import", href="../../vendor/polymer/polymer.html")
link(rel="import", href="../modules/single-movie.html")
link(rel="import", href="../../vendor/core-ajax/core-ajax.html")
link(href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah', rel='stylesheet', type='text/css')

polymer-element(name="mg-main" attributes="movies")
    template
        core-ajax(auto, url="https://api.themoviedb.org/3/discover/movie", handleAs="json", params='{"api_key":"247e0e9d8f8cadd19b1cc9b925a68270", "vote_average.gte": "9", "vote_count.gte": 10, "sort_by": "popularity.desc", "language": "en", "certification_country": "840"}', on-core-response="{{discover}}")
        link(rel="stylesheet" href="../../styles/layout/main.css")
        h1 ΠWEEK Movie Finder
        div(horizontal layout)
            div.movie-container(horizontal layout wrap style="width: 80%")
                template(repeat="{{movie in movies}}")
                    mg-single-movie
                        figure
                            img(src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}", alt="{{movie.title}}")
                        div.single-movie-container()
                            h1 {{movie.title}}
                            h2 {{movie.original_title}}
                        div.vote-avg {{movie.vote_average}}
             div.mg-movie-data(flex)
                 h1

    script.
        Polymer({
            discover: function(event, response) {
                this.movies = response.response.results;
            }
        });
