link(rel="import", href="../../vendor/polymer/polymer.html")

polymer-element(name="mg-title-bar")
    template
        link(rel="stylesheet" href="../../styles/layout/title-bar.css")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
        i.fa.fa-bars.fa-2x
        h1(flex) Title

    script.
        Polymer('mg-title-bar', {
            ready: function() {
                console.log('mg-title-bar-ready');
            }
        });
