link(rel="import", href="../../vendor/polymer/polymer.html")

polymer-element(name="mg-movie-lb", attributes="movieDeep")
    template
        link(rel="stylesheet" href="../../styles/modules/movie-lightbox.css")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
        div.movie-lb-container(horizontal layout)
            div.movie-data(flex)
                h1 {{movieDeep.title}}
                    span {{movieDeep.original_title}}
                p {{movieDeep.overview}}
                ul
                    li Vote Count <strong>{{movieDeep.vote_count}}</strong>
                    li Average vote <strong>{{movieDeep.vote_average}}</strong>
            figure
                img(src="https://image.tmdb.org/t/p/w500/{{movieDeep.poster_path}}" alt="{{movieDeep.title}}")
            i.fa.fa-times.fa-2x(on-click="{{toggle}}")


    script.
        Polymer('mg-movie-lb', {
            ready: function() {
                console.log('mg-movie-lb-ready');
            },
            toggle: function(event) {
                this.classList.toggle('closed');
                this.classList.toggle('open');
            }
        });
