link(rel="import", href="../../vendor/polymer/polymer.html")


polymer-element(name="mg-single-movie")
    template
        link(rel="stylesheet" href="../../styles/modules/single-movie.css")
        content(select="img")
        content(select="h1")
        content(select="h2")
        content(select="vote-avg")


