link(rel="import", href="../../vendor/polymer/polymer.html")

polymer-element(name="mg-tab" attributes="genreName")
    template
        link(rel="stylesheet" href="../../styles/buttons/tab.css")
        {{genreName}}

    script.
        Polymer({
            ready: function() {
                console.log('mg-tab ready');
            }
        });

