doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Mangosta
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="description", content="Proyecto de investigación de arquitectura front aplicada a web components")
        meta(name="keywords", content="Web Components, Piweek, Polymer, mangosta")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        script(src="/vendor/platform/platform.js")
        link(rel="stylesheet", href="vendor/normalize.css/normalize.css")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="import" href="/elements/layout/header-bar.html")

    body(fullbleed vertical layout unresolved)
        mg-header-bar(horizontal layout)
        div.wrapper
            h1 title

