doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Mangosta
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="description", content="Proyecto de investigación de arquitectura front aplicada a web components")
        meta(name="keywords", content="Web Components, Piweek, Polymer, mangosta")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        script(src="/vendor/platform/platform.js")

        link(rel="stylesheet", href="vendor/normalize.css/normalize.css")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="styles/dependencies/forms.css")

        link(href='http://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")

        link(rel="import" href="/elements/layout/header-bar.html")
        link(rel="import" href="/elements/layout/title-bar.html")
        link(rel="import" href="/elements/layout/main.html")

    body(fullbleed unresolved)
        div.container(horizontal layout)
            mg-header-bar.closed(vertical layout)
            mg-title-bar
            mg-main(flex)

        script.
            window.addEventListener('genres-menu', function(e) {
                var element = document.querySelector('mg-header-bar');
                var parent = document.querySelector('mg-title-bar');
                element.classList.toggle('open');
                element.classList.toggle('closed');
                parent.classList.toggle('open');
                parent.classList.toggle('closed');
                setTimeout(function(){
                    element.classList.remove('open');
                    element.classList.add('closed');
                    parent.classList.remove('open');
                    parent.classList.add('closed');
                }, 4000);
            });
            window.addEventListener('genreSelected', function(e) {
                var element = document.querySelector('mg-main');
                element.genreId = e.detail.data;
                element.genreName = e.detail.genreName;
                element.genreSignal();
            });
