:host {
    > h1 {
        color: #ffa500;
        font-family: 'Gloria Hallelujah', cursive;
    }
}
:host::shadow mg-single-movie {
    box-sizing: border-box;
    display: inline-block;
    margin: 1rem;
    max-width: 300px;
    position: relative;
    overflow: hidden;
    width: 25%;
    cursor: pointer;
    &:hover {
        box-shadow: 2px 2px 20px #000;
        transition: all .3s ease-in;
        .single-movie-container {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }
    figure {
        margin: 0;
        max-width:100%;
        max-height:200px;
        min-height:200px;
        overflow: hidden;
    }
    img {
        width: 100%;
        min-height:200px;
    }
    .single-movie-container {
        background: rgba(#fff, .4);
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        padding: .5rem;
        transition: all .3s ease-in;
        width: 100%;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    h1 {
        font-size: 1.4rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    h2 {
        font-size: 0.8rem;
        font-weight: 400;
    }
    .vote-avg {
        color: #ffa500;
        font-size: 1.4rem;
        position: absolute;
        right: .2rem;
        top: .2rem;
        text-shadow: 2px 2px 10px #000;
    }
}

:host::shadow mg-movie-lb {
    &.closed{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        transition: all 1s ease-in;
    }
    &.open {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
