:host {
    background: #000;
    display: block;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

:host /deep/ mg-tab {
    background: #000;
    min-width: 20%;
    transition: background .5s linear;
}

:host /deep/ mg-tab:hover {
    background: #333;
}

:host /deep/ mg-tab > span {
    color: #666;
    display: block;
    text-align: center;
    transition: color .5s linear;
}

:host /deep/ mg-tab:hover > span {
    color: #ffa500;
}
