:host {
    background: #000;
    display: block;
    -webkit-transform: translate3d(-170px, 0, 0);
    transform: translate3d(-170px, 0, 0);
    z-index: 99;
}

:host(.open) {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all .5s linear;
}

:host(.closed) {
    -webkit-transform: translate3d(-170px, 0, 0);
    transform: translate3d(-170px, 0, 0);
    transition: all .1s linear;
}

:host::shadow mg-tab {
    background: #000;
    border-bottom: 1px solid #000;
    transition: background .5s linear;
    &:hover {
        background: #333;
        span {
            color: #ffa500;
        }
    }
    span {
        color: #666;
        display: block;
        text-align: center;
        transition: color .5s linear;
    }
}

