:host {
    background: #222;
    padding: 1rem;
}

:host > i {
    color: #666;
    cursor: pointer;
    margin: 0 3rem;
    transition: color .3s linear;
}

:host > i:hover {
    color: #ffa500;
}

:host > h1 {
    color: rgba(#fff, 1);
    margin: 0;
}
