fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select,
textarea {
    background: #cdcdcd;
    border: 0;
    color: #444;
    height: 40px;
    margin: 0;
    padding: 8px;
    width: 100%;
}


textarea {
    max-height: 10rem;
}

.checksley-error-list {
    margin-bottom: 0;
    li {
        color: #FFF;
        padding: .2rem;
    }
}
