
<link rel="import" href="../../vendor/polymer/polymer.html"/>
<link rel="import" href="../../vendor/core-ajax/core-ajax.html"/>
<link rel="import" href="../buttons/tab.html"/>
<polymer-element name="mg-header-bar" unresolved="unresolved">
  <template>
    <core-ajax auto="auto" url="https://api.themoviedb.org/3/genre/movie/list" handleAs="json" params="{&quot;api_key&quot;:&quot;247e0e9d8f8cadd19b1cc9b925a68270&quot;, &quot;language&quot;: &quot;en&quot;}" on-core-response="{{genresList}}"></core-ajax>
    <link rel="stylesheet" href="../../styles/layout/header-bar.css"/>
    <template repeat="{{genre in genres}}">
      <mg-tab flex="flex" genreId="{{genre.id}}" genreName="{{genre.name}}" on-click="{{genreSelect}}"></mg-tab>
    </template>
  </template>
  <script>
    Polymer({
        genresList: function(event, response) {
            this.genres = response.response.genres;
        },
        genreSelect: function(event) {
            target = event.currentTarget;
            var genreIdSelected = target.genreId;
            var genreNameSelected = target.genreName;
            this.fire('genreSelected', {name: "genre", data: genreIdSelected, genreName: genreNameSelected});
        }
    });
  </script>
</polymer-element>