/*
Syntax error: Undefined variable: "$blackish".
        on line 17 of ./styles/dependencies/typography.scss

12: h2,
13: h3,
14: h4,
15: h5,
16: h6 {
17:     color: $blackish;
18:     font-weight: normal;
19:     a {
20:         font-weight: inherit;
21:     }
22: }

Backtrace:
./styles/dependencies/typography.scss:17
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/script/tree/node.rb:50:in `perform'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/stack.rb:79:in `block in with_base'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/stack.rb:79:in `with_base'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:389:in `map'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/stack.rb:79:in `block in with_base'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/stack.rb:79:in `with_base'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `map'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:151:in `visit'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/tree/root_node.rb:20:in `render'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/engine.rb:274:in `render'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:186:in `each'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/exec.rb:489:in `watch_or_update'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/exec.rb:346:in `process_result'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/exec.rb:43:in `parse'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/lib/sass/exec.rb:22:in `parse!'
/home/xaviju/.gem/ruby/2.1.0/gems/sass-3.3.5/bin/sass:13:in `<top (required)>'
/home/xaviju/.gem/ruby/2.1.0/bin/sass:23:in `load'
/home/xaviju/.gem/ruby/2.1.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$blackish\".\A         on line 17 of ./styles/dependencies/typography.scss\A \A 12: h2,\A 13: h3,\A 14: h4,\A 15: h5,\A 16: h6 {\A 17:     color: $blackish;\A 18:     font-weight: normal;\A 19:     a {\A 20:         font-weight: inherit;\A 21:     }\A 22: }"; }
