* {
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #050505;
  font-weight: normal; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: inherit; }

h2 {
  font-size: 2rem; }

h1 {
  font-size: 3rem; }

h1 {
  line-height: 2.7rem;
  margin-bottom: 1rem; }

h2 {
  margin-bottom: 1rem; }

p {
  margin: 0 0 20px; }
  p img {
    margin: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 10px 0 30px; }

a,
a:visited {
  color: #333;
  text-decoration: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select,
textarea {
  background: #cdcdcd;
  border: 0;
  color: #444;
  height: 40px;
  margin: 0;
  padding: 8px;
  width: 100%; }

textarea {
  max-height: 10rem; }

.checksley-error-list {
  margin-bottom: 0; }
  .checksley-error-list li {
    color: #FFF;
    padding: .2rem; }

body, html {
  font-family: 'Roboto', sans-serif;
  background: #333; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; }
